<html>
<head>
    <title>bbs</title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/bbs.css" type="text/css" media="screen, projection">
</head>
<body>
    <div class="container">
        <div class="span-24 last header">
            go bbs
        </div>
        <div class="span-24 last">
            <form method="post" action="/post">
                <input type="text" name="body" value="" />
                <input type="submit" value="post" />
            </form>
        </div>
        <div class="span-24 last">
            <ul>
            {.repeated section msgs}
                {.section @}
                    <li>{@|html}</li>
                {.end}
            {.end}
            </ul>
        </div>
        <hr />
        <div class="span-24 last footer">
            powered by <a href="http://golang.org/">go</a>.
        </div>
    </div>
</body>
</html>
